<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job Board</title>
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true"/>
</head>
<body>
    <div class="nav">
        <div class="logo">
            <h2>Jobby</h2>
        </div>
        <div>
            <ul class="nav-links">
                <li><a asp-controller="Account" asp-action="SignUp">Sign Up</a></li>
                <li><a asp-controller="Account" asp-action="LogIn">Log In</a></li>
                <li><a href="">About us</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="moto">
            <h1>Find the carrer you deserve!</h1>
        </div>
    </div>
</body>
</html>
