@{
    ViewData["Title"] = "Log In";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job Board</title>
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />

</head>
<style>

    .form{
      height:50%;
    }
      h1{
        font-weight: bold;
        color:  #dcd8e4ca;
        margin-left: 10%;
        text-align: center;
        margin-top: 35%;
    }
</style>
<body>
    <div class="nav">
        <div class="logo">
            <h2>Job Board</h2>
        </div>
        <div>
            <ul class="nav-links">
                <li><a href="">Home</a></li>
            </ul>
        </div>
    </div>
    <div class="grid-container">
        <div class="grid-item">
            <h1>
                Welcome back! Go grab your job offer!
            </h1>
        </div>
        <div class="form grid-item">
            <header>
                Log In
            </header>
            <form action="">

                <label for="name">Username</label>
                <input type="text" name="username" id="" placeholder="janna_ampova">

                <label for="name">Password</label>
                <input type="password" name="password" id="">

                <input type="submit" value="Log In">

            </form>
            <div class="linkToLogIn">
                Don't have an account? Sign up <a href="signUp.html" style="text-decoration: none;">here</a>
            </div>
        </div>
    </div>
</body>
</html>
