@model JobBoard.Dtos.LogInRequest

@{
    ViewData["Title"] = "Log In";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job Board</title>
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <partial name="_ValidationScriptsPartial" />

</head>
<body>
    <div class="nav">
        <div class="logo">
            <h2>Job Board</h2>
        </div>
        <div>
            <ul class="nav-links">
                <li><a asp-controller="Home" asp-action="Index" style="text-decoration: none;">Home</a></li>
            </ul>
        </div>
    </div>
    <div class="grid-container">
        <div class="grid-item">
            <h1>
                Welcome back! Go grab your job offer!
            </h1>
        </div>
        <div class="form grid-item">
            <header>
                Log In
            </header>
            <form asp-controller="Account" asp-action="LogIn" method="post">

                <label for="username">Username</label>
                <input asp-for="Username" placeholder="janna_ampova" />
                <span asp-validation-for="Username" class="text-danger"></span>

                <label for="password">Password</label>
                <input asp-for="Password" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>

                <input type="submit" value="Log In" />
            </form>
            <div class="linkToLogIn">
                Don't have an account? Sign up <a asp-controller="Account" asp-action="SignUp" style="text-decoration: none;">here</a>
            </div>
        </div>
    </div>
</body>
</html>
