@model JobBoard.Models.ViewModels.CandidateDashboardViewModel
<link rel="stylesheet" href="~/css/candidate/sidebarCandidate.css" asp-append-version="true" />

<div class="sidebar">
    <div class="logo">Hi @Model.user.UserName</div>
    <ul class="sidebar-menu">
        <li><a asp-controller="CandidateDashboard" asp-action="Applicant">Job Board</a></li>
        <li><a asp-controller="Applications" asp-action="Index">My Applications</a></li>
        <li><a asp-controller="SavedListings" asp-action="Index">Saved Listings</a></li>
        <li><a asp-controller="AccountSettings" asp-action="Index">My Account</a></li>
        <li><a asp-controller="Home" asp-action="Index">Log Out</a></li>
    </ul>
</div>
