@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


:root {
    --text-color: #e6c6c6;
    ;
}

.form {
    background-color: rgba(240, 248, 255, 0.493);
    border-radius: 30px;
    margin-left: 10%;
    margin-right: 10%;
    width: 60%;
    padding: 8%;
    margin-top: 25%;
    margin-bottom: 15%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
input[type="phone"],
select {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 10px auto;
    display: block;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}

input[type="submit"] {
    width: 40%;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    border: none;
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-top: 5%;
    background-color: var(--text-color);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

    input[type="submit"]:hover {
        width: 40%;
        padding: 10px;
        border-radius: 20px;
        font-size: 16px;
        border: none;
        margin: 0 auto;
        display: block;
        text-align: center;
        margin-top: 5%;
        background-color: var(--text-color);
        color: white;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;
    }

    input[type="submit"]:hover {
        background-color: #beaeae; /* іншы колер пры навядзенні */
        transform: scale(1.05);
    }



input[type="text"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus {
    border-color: #b29ab2;
    box-shadow: 0 0 5px rgba(219, 203, 216, 0.5);
}

input[type="text"]::placeholder,
input[type="password"]::placeholder, vk
input[type="tel"]::placeholder {
    color: #999;
    font-style: italic;
    font-style: italic;
}

input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="tel"]:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
}

label {
    font-size: 17px;
    color: #2b2a2d;
    margin-bottom: 7px;
    margin-top: 7px;
    margin-left: 14%;
    font-weight: bold;
    display: block;
    width: 100%;
}


header {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 35px;
    color: #2b2a2d;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

h1 {
    margin-top: 50%;
    font-weight: bold;
    color: #dcd8e4ca;
    margin-left: 10%;
    text-align: center;
    margin-right: 0%;
}

.linkToLogIn {
    text-align: center;
    margin-top: 10%;
}